.search {
  border-radius: 20px;
  border-color: transparent;
  padding: 10px;
  margin: 40px;

}

.btn {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
}

.btnSearch {
  font-style: italic;
}
.btnSearch:hover {
  border-radius: 15px;
  box-shadow: 6px 6px 29px -4px;
}

.btnNew,.btnDel,.btnUpd {
  margin: 10px;
  background: black;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px;
  text-decoration: none;
  transition: 0.4s;
}
.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.popup-content {
  width: 500px;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
